html,
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  margin: 100px;
  height: 100%;
}
body {
  display: table;
  width: 100%;
}
#app {
  display: table-cell;
  width: 300px;
  vertical-align: top;
  text-align: center;
}
.todos {
  display: grid;
  width: 300px;
  margin: 30px auto;
}
.todo {
  display: flex;
  justify-content: space-between;
  background-color: whitesmoke;
  width: 300px;
  height: 30px;
  margin: 5px;
  padding: 5px;
}
.todo.completed {
  text-decoration: line-through;
}
span {
  display: inline-block;
  padding: 3px;
  border: solid 2px grey;
}
input {
  width: 20px;
  height: 20px;
}
#enterField {
  width: 200px;
  height: 20px;
}
.empty,
.filter {
  display: block;
  margin: 30px;
}
span:hover {
  cursor: pointer;
}
